@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, rgba(44, 62, 80, 0.7), rgba(76, 161, 175, 0.7)), 
              url('../images/Login-background.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-container {
  background: rgba(28, 28, 28, 0.85);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 360px;
  padding: 60px;
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  font-size: 16px;
  background: #333;
  color: #ffffff;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: #4ca1af;
  outline: none;
}

.signup-button {
  background: #4ca1af;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-button:hover {
  background: #333333;
  filter: drop-shadow(0 0 10px #fffdef);
}

.additional-content {
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
}

.login-link {
  margin: 10px 0;
}

.login-link a {
  color: #4ca1af;
  text-decoration: none;
  font-size: 16px;
}

.login-link a:hover {
  text-decoration: underline;
}

.signup-container input {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}
.signup-button button {
  width: 100%;
  padding: 10px;
  background-color: #00aaff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}